body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top{
  display:block;
}

.header{
  display:flex;
  height:30px;
  background-color:#0a2a3d;
  width:100%;
  justify-content: right;
}

.link{
  width:60px;
  margin:2px;
  margin-right:10px;
  padding-top:5px;
  background-color: #2b7880;
  text-align:center;
}

.link a{
  color:white;
  margin:0;
}

.hero {
  padding:30px;
  background-color:#173A4F;
  height:200px;
}
.logo {
  display:flex;
  height:75%;
  max-width:80%;
}
.logo img {
  margin-right: 25px;
}