body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.top{
  display:block;
}

.header{
  display:flex;
  height:30px;
  background-color:#0a2a3d;
  width:100%;
  justify-content: right;
}

.link{
  width:60px;
  margin:2px;
  margin-right:10px;
  padding-top:5px;
  background-color: #2b7880;
  text-align:center;
}

.link a{
  color:white;
  margin:0;
}

.hero {
  display:flex;
  padding:30px;
  background-color:#173A4F;
  height:200px;
}
.logo {
  display:flex;
  height:75%;
  max-width:80%;
}
.logo img {
  margin-right: 25px;
}

.title {
  background-color:white;
  display:flex;
  border:solid black 1px;
  float:right; 
  width:200px;
  height:40px;
  margin-top: 150px;
  padding: 5px;
  padding-left:15px;
}

.post {
  border: black;
  border-style: solid;
  border-width:1px;
  max-width: 800px;
  margin:50px;
  padding:10px;
  display:block;
}

.post-info{
  display:flex;
  height:20px;
  color:grey;
  font-size:15px;
  width:80%;
}
.post-info p{
  margin-top:2px;
}
.post-info img {
  height:20px;
  margin-right:5px;
}

.post-title{
  margin-top:15px;
  color:black;
}

.post-seperation{
  margin:5px;
  margin-left:10px;
  border: black solid 1px;
  padding: 10px;
}

.interaction{
  margin-right:50px;
}